APP_ENV=development
APP_PORT=8082

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=store
DATABASE_PASSWORD=store
DATABASE_NAME=store
DATABASE_SSL_MODE=disable

SERVICE_AUTH_NAME=store
SERVICE_AUTH_SECRET=store-test-service-secret
