APP_ENV=development
APP_PORT=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=e-identity-db
DATABASE_SSL_MODE=disable

JWT_SECRET=your-development-secret
JWT_ISSUER=identity-service
JWT_ACCESS_TOKEN_TTL=15m